body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url(images/img01.png) repeat !important;
}

.main {
    text-align: center;
    padding-top: 70px;
    font-size: 50px;
    font-family: 'Nanum Pen Script', cursive;
    color: gray;
}

/*.user_card {*/
/*    height: 400px;*/
/*    width: 350px;*/
/*    margin-top: 100px;*/
/*    margin-bottom: auto;*/
/*    background: gray;*/
/*    position: relative;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*    padding: 10px;*/
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*    border-radius: 5px;*/


/*}*/

/*.brand_logo_container {*/
/*    position: absolute;*/
/*    height: 170px;*/
/*    width: 170px;*/
/*    top: -75px;*/
/*    border-radius: 50%;*/
/*    background: darkseagreen;*/
/*    padding: 10px;*/
/*    text-align: center;*/
/*}*/

/*.brand_logo {*/
/*    height: 150px;*/
/*    width: 150px;*/
/*    border-radius: 50%;*/
/*    border: 2px solid white;*/

/*}*/

/*.form_container {*/
/*    margin-top: 150px;*/
/*}*/

/*.login_btn {*/
/*    width: 100%;*/
/*    background: linen !important;*/
/*    color: gray !important;*/

/*}*/

/*.login_btn:focus {*/
/*    box-shadow: none !important;*/
/*    outline: 0px !important;*/
/*}*/

/*.login_container {*/
/*    padding: 0 2rem;*/
/*}*/

/*.button2 {*/
/*    color: gray;*/
/*}*/


.left-section {
    width: 500px;
    height: 600px;
    float: left;
    /*background: url(images/img15.png)  !important;*/
    /*background-color: sandybrown;*/
    background-size: 100%;
    position: relative;
    left: 30px;
    top: 40px;
    /*border: 10px solid brown;*/
    border-radius: 10%;
}


.right-section {
    width: 500px;
    height: 600px;
    float: left;
    position: relative;
    top: 40px;
    left: 50px;
    padding: 40px;
    border: 1px solid black;
}

/*.right-section1 {*/
/*    width: 400px;*/
/*    height: 500px;*/
/*    position: relative;*/
/*    text-align: center;*/
/*}*/

/*.right-section2 {*/
/*    width: 430px;*/
/*    height: 75px;*/
/*    position: relative;*/
/*    top: 150px;*/
/*    border: 1px solid skyblue;*/
/*    background-color: white;*/
/*    text-align: center;*/
/*    line-height: 40px;*/
/*}*/

/*.right-section3 {*/
/*    width: 430px;*/
/*    height: 100px;*/
/*    position: relative;*/
/*    top: 160px;*/
/*    text-align: center;*/
/*}*/

table {
    text-align: center;
    background-color: white;
    width: 430px;
    height: 600px;
    border: 1px solid skyblue;
}


.sliceline {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    vertical-align: middle;
}

.sliceline * {
    font-weight: 600;
    color: gray;
}

.slice {
    display: inline-block;
    background-color: gray;
    height: 1px;
    position: relative;
    top: 4px;
}

.left-footer {
    position: absolute;
    margin-left: 11%;
    margin-top: -5%;
}

.left-footer ul li {
    display: inline-block;
}

.right-footer {
    position: absolute;
    margin-left: 75%;
    margin-top: -5%;
    color: gray;
}


.right-section3 ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    left: -7%;
}


.photo1 {
    background: url(images/pics02.jpg);
    background-size: 100%;
    width: 500px;
    height: 510px;
}

.photo2 {
    background: url(images/pics03.jpg);
    background-size: 100%;
    width: 500px;
    height: 510px;
}

.photo3 {
    background: url(images/pics04.jpg);
    background-size: 100%;
    width: 500px;
    height: 510px;
}
