{% load static %}
<!DOCTYPE HTML>

<html>
<head>
    <title>Tapestry by TEMPLATED</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Oswald:400,300" rel="stylesheet" type="text/css"/>
    <!--[if lte IE 8]>
    <script src="js/html5shiv.js"></script><![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% comment %}<script src="../../static/js/skel.min.js"></script>
    <script src="../../static/js/skel-panels.min.js"></script>
    <script src="../../static/js/init.js"></script>{% endcomment %}

    <link rel="stylesheet" type="text/css" href="{% static 'blog/skel-noscript.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style-desktop.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">


    <script>
        $(document).ready(function () {
            $('.bxslider').bxSlider();
        });
        $('.bxslider').bxSlider({mode: 'fade', captions: true});
    </script>

    <script>
        $(window).load(function () {
            $(".loading").fadeOut();
        });
    </script>

</head>
<body class="homepage">
<div id="header-wrapper">
    <div class="container">
        <div id="header">
            <div id="logo">
                <h1><a href="{% url 'blog-home' %}">PiroBoard</a></h1>
                <span>by Pirogramming</span>
            </div>
            <nav id="nav">
                <ul>
                    {% if user.is_authenticated %}


                        <li><a href="{% url 'blog-about' %}">그룹 생성</a></li>
                        <li><a href="{% url 'users:group_find' %}">그룹 검색</a></li>
                        <li><a href="{% url 'users:profile' %}">나의 프로필</a></li>
                        <li><a href="{% url 'logout' %}">로그아웃</a></li>

                    {% else %}
                        <li><a href="{% url 'users:profile' %}">로그인</a></li>
                        <li><a href="{% url 'logout' %}">회원가입</a></li>
                    {% endif %}

                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="container mt-15">


    {% block content %}


    {% endblock %}

</div>
{#<div id="copyright" class="container mb-0">#}
{#    Design: <a href="http://templated.co">Pirogramming 11기</a>#}
{#</div>#}