{% extends "blog/base.html" %}

{% block content %}


<div class="loading"></div>

    <h1> <div id="title"><h1>{{ group.group_name }}</h1></div></h1>

    <ul class="bxslider">
        <li><img
                src="https://previews.123rf.com/images/mexrix/mexrix1206/mexrix120600069/14260342-brown-cork-board-for-background.jpg"
            title="인물" >
        </li>
        <li><img
                src="https://previews.123rf.com/images/mexrix/mexrix1206/mexrix120600069/14260342-brown-cork-board-for-background.jpg"
            title="음식" >
        </li>
        <li><img
                src="https://previews.123rf.com/images/mexrix/mexrix1206/mexrix120600069/14260342-brown-cork-board-for-background.jpg"
            title="취미">
        </li>
        <li><img
                src="https://previews.123rf.com/images/mexrix/mexrix1206/mexrix120600069/14260342-brown-cork-board-for-background.jpg"
            title="etc">
        </li>
    </ul>




{% endblock %}