{% extends "blog/base5.html" %}


{% block content %}


    <style>
        img {
            display: block;
        }

        .cardbox {
            text-align: center;
        }

        .postcard {
            display: inline-block;
            float: top;
            vertical-align: middle;
            margin: 15px;
            border: 1px solid #7C6E49;
            box-sizing: border-box;
        }

        .photocard {

        }

        .textcard {
            width: 200px;
            height: 300px;

        }
    </style>



    여기에는 postlist페이지가 작성될 예정입니다.
    <p>카테고리 : {{ category }}</p>
    <div class="rows">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' pk %}">글쓰기</a>
        {% endif %}
    </div>
    <hr/>
    <hr/>
    <div class="row">
        <div class="cardbox">
            {% for post in postlist %}
                {% if post.photo %}
                    <div class="postcard">
                        <a href="{% url 'post_detail' post.pk %}">
                            <div class="photocard">
                                <img src="{{ post.photo.url }}"/>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="postcard">
                        <a href="{% url 'post_detail' post.pk %}">
                            <div class="textcard">
                                <div>{{ post.title }}</div>
                                <div>{{ post.content }}</div>
                                <div>-{{ post.author }}</div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>



{% endblock %}