{% extends "blog/trello.html" %}
{% block content %}
    <head>
        <style>
            .sulmo:hover {
            transform: scale(1.05);
            transition-duration: 0.3s;
        }
        </style>
    </head>

    <div><h2>{{ user }}의 그룹</h2></div>



    {% if hasGroup %}
        <p>당신은 현재 {{ user_groups.count }}개의 그룹에 속해 있습니다.</p>
        <div class="container">


        <div class="row">

            {% for group in user_groups %}


                <div class="col-4 mt-4">
                    <div class="sulmo card border-0 shadow p-3 mb-5 bg-white rounded" style="width: 12rem; height:150px;">
                        {% if group.group_img %}
                            <img src="{{ group.group_img.url }}" class="card-img-top" style="position:relative;" alt="">
                        {% else %}
                            <img class="card-img-top" style="position:relative; z-index: 2;" src="https://post-phinf.pstatic.net/MjAxNzAyMTBfMjQw/MDAxNDg2Njk3NjI5NDc3.3r2A1Vy2ReIVMfCkmmMssA937blMKLD_s-ysMj5cYy8g.O2eL5k1LMPl9c6ecfeSYNHjqnEHfxBjzrNjDJ1DKQK4g.JPEG/K-002.jpg?type=w1200"
                                 alt="">
                        {% endif %}
                        <div style="position:relative; z-index: 3; left: 10px; top: -105px;">
                            <p class="card-text" style="color:white;">{{ group.group_info }}</p>
                        </div>
                    </div>
                </div>


            {% endfor %}
            <div class="col-4 mt-4">
                <div class="sulmo card plus border-0 shadow p-3 mb-5 bg-white rounded" style="width: 12rem; height: 150px;">

                    <div class="card-body">
                        <p class="card-text">그룹 생성하기</p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h5>가입한 그룹이 없습니다. '그룹 생성' 혹은 '그룹 찾기'을 눌러보세요!</h5>
    {% endif %}


{% endblock content %}


