{% extends "blog/trello.html" %}
{% block content %}

    <div><h2>{{ user }}의 그룹</h2></div>



    {% if hasGroup %}
        <p>당신은 현재 {{ user_groups.count }}개의 그룹에 속해 있습니다.</p>
        <div class="container">


        <div class="row">

            {% for group in user_groups %}


                <div class="col-4 mt-4">
                    <div class="card" style="width: 12rem; height:15rem;">
                        <img src="{{ group.group_img }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">{{ group.group_info }}</p>
                        </div>
                    </div>
                </div>


            {% endfor %}
            <div class="col-4 mt-4">
                <div class="card plus" style="width: 12rem; ">

                    <div class="card-body">
                        <p class="card-text">그룹 생성하기</p>
                    </div>
                </div>
            </div>


        </div>
    {% else %}
        <h5>가입한 그룹이 없습니다. '그룹 생성' 혹은 '그룹 찾기'을 눌러보세요!</h5>
    {% endif %}


</div>




{% endblock content %}

