{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block  content %}
    <div class="total-section">
        <div class="content-section">
            <div class="media">
                <br/>

                <div class="text">
                    <h3>MY NAME IS</h3>
                    <h1><span class="fontawesome-star star"></span> <span>{{ user.username }}</span> <span
                            class="fontawesome-star star"></span></h1>
                </div>
                <br/><br/><br/>

                <div class="profile_image">
                    <img class="rounded-circle" width="200px" height="200px"
                         style="border: 3px solid #121212; border-radius: 100px;
                 -moz-border-radius: 100px; -khtml-border-radius: 100px; -webkit-border-radius: 100px;"
                         src="{{ user.profile.image.url }}"><i class="material-icons">add</i>
                    <br/><br/><br/>
                </div>


                <div class="media-body">
                    {% if user.profile.nickname == None %}
                    {% else %}
                        <p class="text-secondary"><i
                                class="material-icons">face</i>&nbsp&nbsp{{ user.profile.nickname }}
                        </p><br/>
                    {% endif %}
                    {% if user.profile.email == None %}
                    {% else %}
                        <p class="text-secondary"><i class="material-icons">contact_mail</i>&nbsp&nbsp{{ user.email }}
                        </p>
                        <br/>
                    {% endif %}
                    {% if user.profile.phone_number == None %}
                    {% else %}
                        <p class="text-secondary"><i
                                class="material-icons">local_phone</i>&nbsp&nbsp{{ user.profile.phone_number }}</p><br/>
                    {% endif %}
                    {% if user.profile.region == None %}
                    {% else %}
                        <p class="text-secondary"><i class="material-icons">home</i>&nbsp&nbsp{{ user.profile.region }}
                        </p>
                        <br/>
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="revise">
            <a href="{% url 'users:profile_update' %}" style="text-decoration:none">프로필 수정하기</a>
            <a href="{% url 'users:change_password' %}" style="text-decoration:none">비밀번호 변경하기</a>
            <a href="{% url 'users:password_reset_form' %}" style="text-decoration:none">비밀번호 찾기</a>
            <a href="{% url 'users:user_manage_request' %}">신청관리 페이지</a>
        </div>
{% endblock %}


