{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block  content %}
    <div class="content-section">
        <div class="media">
            <br/>
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"><br/><br/>
            <div class="media-body">
             <h2 class="account-heading">유저: {{ user.username }}</h2><br/>
                {% if user.profile.nickname == None %}
                {% else %}
                    <p class="text-secondary">닉네임: {{ user.profile.nickname }}</p><br/>
                {% endif %}
            {% if user.profile.nickname == None %}
                {% else %}
                    <p class="text-secondary">이메일: {{ user.email }}</p><br/>
                {% endif %}
            {% if user.profile.nickname == None %}
                {% else %}
                    <p class="text-secondary">연락처: {{ user.profile.phone_number }}</p><br/>
                {% endif %}
            {% if user.profile.nickname == None %}
                {% else %}
                    <p class="text-secondary">지역: {{ user.profile.region }}</p><br/>
                {% endif %}
                <br>
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                <p class="text-secondary">{{ profile.region }}</p>
            </div>
        </div>
        <a href="{% url 'users:profile_update' %}">프로필 수정하기</a>
        <a href="{% url 'users:change_password' %}">비밀번호 변경하기</a>
        <a href="{% url 'users:password_reset_form' %}">비밀번호 찾기</a>
    </div>
{% endblock %}


