{% extends "blog/trello.html" %}

{% load crispy_forms_tags %}

{% block  content %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        @import url(https://fonts.googleapis.com/css?family=Oswald:400|Open+Sans:700);
        @import url(http://weloveiconfonts.com/api/?family=fontawesome);

        /* fontawesome */
        [class*="fontawesome-"]:before {
            font-family: 'FontAwesome', sans-serif;
        }

        .total-section {
            text-align: center;
            margin-top: 0%;
        }

        body {
            color: rgb(59, 56, 51);
        }

        .content-section h1, h3 {
            transform: matrix(1, -0.20, 0, 1, 0, 0);
            -ms-transform: matrix(1, -0.20, 0, 1, 0, 0);
            -webkit-transform: matrix(1, -0.20, 0, 1, 0, 0);
        }

        .content-section h1 {
            font-family: "Oswald", Sans-serif;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 70px;
            text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
        }

        h1 span {
            display: inline-block;
            vertical-align: middle;
            margin-left: -10px;
        }

        span.star {
            font-size: 20px;
        }

        h3 {
            font-family: "Open Sans", Sans-serif;
            color: rgb(59, 56, 51);
            text-transform: uppercase;
            font-weight: 700;
            font-size: 20px;
            letter-spacing: 0.1em;
            margin-bottom: 10px;
            position: relative;
        }

        h3:before, h3:after {
            content: " ";
            position: absolute;
            width: 130px;
            height: 4px;
            border-top: 2px solid rgb(59, 56, 51);;
            border-bottom: 2px solid rgb(59, 56, 51);;
        }

        h3:before {
            margin: 5px 0 0 -140px;
        }

        h3:after {
            margin: 5px 0 0 10px;
            color: rgb(59, 56, 51);
        }

        .media {
            text-align: center;
            flex-direction: column;
            align-items: center;
        }

        .text {
            display: block;
        }

        .profile_image {
            display: block;
            margin: 3%;
        }

        .media-body p {
            font-size: 30px;
            color: rgb(59, 56, 51) !important;
        }

        .revise {
            margin: 3% 0 10% 0;
        }

        .revise a {
            font-size: 25px;
            padding: 0 10px 0 10px;
        }

    </style>

    <div class="total-section">
    <div class="content-section">
        <div class="media">
            <br/>

            <div class="text">
                <h3>MY NAME IS</h3>
                <h1><span class="fontawesome-star star"></span> <span>{{ user.username }}</span> <span
                        class="fontawesome-star star"></span></h1>
            </div>

            <div class="profile_image">
                <img class="rounded-circle" width="200px" height="200px"
                     style="border: 3px solid rgb(59, 56, 51); border-radius: 100px;
                 -moz-border-radius: 100px; -khtml-border-radius: 100px; -webkit-border-radius: 100px;"
                     src="{{ user.profile.image.url }}">
            </div>

            <div class="media-body">
                {% if user.profile.nickname == None %}
                {% else %}
                    <p class="text-secondary"><i
                            class="material-icons">face</i>&nbsp&nbsp{{ user.profile.nickname }}
                    </p>
                {% endif %}
                {% if user.profile.email == None %}
                {% else %}
                    <p class="text-secondary"><i class="material-icons">contact_mail</i>&nbsp&nbsp{{ user.email }}
                    </p>
                {% endif %}
                {% if user.profile.phone_number == None %}
                {% else %}
                    <p class="text-secondary"><i
                            class="material-icons">local_phone</i>&nbsp&nbsp{{ user.profile.phone_number }}</p>
                {% endif %}
                {% if user.profile.region == None %}
                {% else %}
                    <p class="text-secondary"><i class="material-icons">home</i>&nbsp&nbsp{{ user.profile.region }}
                    </p>
                {% endif %}
            </div>

        </div>
    </div>

    <div class="revise">
        <a href="{% url 'users:profile_update' %}" style="text-decoration:none">프로필 수정하기</a>
        <a href="{% url 'users:change_password' %}" style="text-decoration:none">비밀번호 변경하기</a>
        <a href="{% url 'users:password_reset_form' %}" style="text-decoration:none">비밀번호 찾기</a>
        <a href="{% url 'users:user_manage_request' %}">신청관리 페이지</a>
    </div>
{% endblock %}
