{% extends "blog/trello.html" %}



{% block content %}
    <hr/>
    <hr/>
    {% if groupRequest %}
        <h2>{{ group_requests_count }}개의 그룹 가입 요청을 받았습니다.</h2>
        {% for group in group_requests %}

            <div class="content-section">
                <div class="media">
                    <img class="rounded-circle account-img" src="{{ group.group_img }}">
                    <div class="media-body">
                        <div class="account-heading">{{ group.group_name }}</div>
                        <p class="text-secondary">{{ group.group_info }}</p>
                    </div>
                    <div style="margin-right: 1%">
                        <form method="post" action="{% url 'users:request_accept' %}">
                            {% csrf_token %}
                            <input type="hidden" name="group_id" value="{{ group.id }}">
                            <button type="submit" class="btn btn-outline-dark" style="size: 20px; margin: 0 ; font-size: 22px;">이 그룹에 참여한다
                    </button>
                        </form>
                    </div>
                    <div style="margin-right: 3%">
                        <form method="post" action="{% url 'users:request_cancel' %}">
                            {% csrf_token %}
                            <input type="hidden" name="group_id" value="{{ group.id }}">
                            <button type="submit" class="btn btn-outline-dark" style="size: 10px; margin: 0 ; font-size: 22px;">거절한다
                    </button>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}

    {% else %}
        <h2>그룹에게서 받은 가입 요청 없음</h2>
    {% endif %}

    <hr/>


    {% if userRequest %}
        <h2>{{ user_requests_count }}개의 가입승인을 기다리고 있습니다.</h2>
        {% for group in user_requests %}
            <div class="content-section">
                <div class="media">
                    <img class="rounded-circle account-img" src="{{ group.group_img }}">
                    <div class="media-body">
                        <div class="account-heading">{{ group.group_name }}</div>
                        <p class="text-secondary">{{ group.group_info }}</p>
                    </div>
                    <div>
                        <form method="post" action="{% url 'users:request_cancel' %}">
                            {% csrf_token %}
                            <input type="hidden" name="group_id" value="{{ group.id }}">
                             <button type="submit" class="btn btn-outline-dark" style="size: 10px; margin: 0 ; font-size: 22px;">취소한다
                    </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <h2>아직 그룹에 신청을 하지 않음</h2>
    {% endif %}

    <hr/>
    <hr/>
{% endblock content %}

