{% extends "blog/trello.html" %}

{% block content %}

     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<hr>
    <h2><i class="material-icons">extension</i>&nbsp;그룹 정보</h2>
    <hr>


<div class="container">
    <div class="row" style="margin: 5% 0 10% ;">
        <div class="col-sm">
            <div class="content-section">

                <div class="media">
                    {% if group.group_img %}
                    <img src="{{ group.group_img.url }}"
                         style="width: auto;">
                    {% endif %}
                    <div class="media-body">
                        <div class="account-heading"
                             style="margin-bottom: 30px; margin-left: 100px;">{{ group.group_name }}
                        </div>

                        <pre class="text-secondary"
                             style="margin-left: 70px; font-size: 15px; white-space: normal;">{{ group.group_info }}</pre>

                    </div>
                    <div class="media-body" style="margin-left: 50px; white-space:normal;">
                        <p>그룹 참가자</p>

                        {% for member in members %}
                        <p class="text-secondary">{{ member.user.username }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</hr>
    <hr>
<div class="row" style="margin: 0 auto;">
    <button type="button" class="btn btn-outline-dark" style="margin-right: 50px; margin-left: 30px; ">
        <a href="{% url 'group_info_update' pk %}">
            <i class="material-icons">content_paste</i>
            <ul style="list-style: none; text-decoration: none; margin:auto; margin-left:-30px; font-size: 25px;">
                <li>그룹 정보 수정&nbsp</li>
            </ul>
        </a>
    </button>
    <style>
        a:hover {text-decoration: none !important;}
    </style>
    <button type="button" class="btn btn-outline-dark" style="margin-right: 50px; font-size: 25px;">
        <a href="{% url 'group_member_manage' pk %}" style="text-decoration: none;" >
            <i class="material-icons">group</i>
            <ul style="list-style: none; text-decoration: none; margin:0 auto; margin-left: -30px;">
                <li>그룹 멤버 관리&nbsp</li>
            </ul>
        </a>
    </button>
    <button type="button" class="btn btn-outline-dark" style="margin-right: 50px;">
        <a href="{% url 'invite' pk %}">
            <i class="material-icons">person_add</i>
            <ul style="list-style: none; margin:0 auto; margin-left: -30px; font-size: 25px;">
                <li>유저 초대&nbsp</li>
            </ul>
        </a>
    </button>
    <button type="button" class="btn btn-outline-dark" style="margin-right: 10px; font-size: 25px;">
        <a href="{% url 'manage_requests' pk %}">
            <i class="material-icons">send</i>
            <ul style="list-style: none; margin:0 auto; margin-left: -30px;">
                <li>가입요청 처리&nbsp</li>
            </ul>
        </a>
    </button>
</div>

{% endblock %}