{% extends "blog/base.html" %}

{% block content %}
    <h2>그룹 정보 수정</h2>

    {% if not user.is_authenticated %}
        <a href="{% url 'login' %}?next={{ request.path }}">로그인이 필요합니다.</a>
    {% endif %}

     <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="'profile">

            {% if form.image != None %}
                현재 이미지: <img class="rounded-circle account-img" src="{{ group.photo }}">
            {% endif %}

            {{ form.as_p }}
            <input type="submit" value="수정완료">

        </div>
    </form>
{% endblock %}