{% extends "blog/base.html" %}

{% block content %}
    <br/>

    <div class="content-section">

        <div class="media">
            {% if group.group_img %}
            <img class="rounded-circle account-img" src="{{ group.group_img.url }}">
            {% endif %}
            <div class="media-body">
                <div class="account-heading">{{ group.group_name }}</div>
                <p class="text-secondary">{{ group.group_info }}</p>
            </div>

            <hr/>

        </div>
        <div class="media-body">
            <p>그룹 참가자</p>
            <hr/>
            {% for member in members %}
                <p>{{ member.user.username }}</p>
            {% endfor %}
        </div>
    </div>

<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
 <a href="{% url 'group_info_update' pk %}"><li>그룹 정보 수정</li></a>
</button>


<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
 <a href="{% url 'group_member_manage' pk %}"><li>그룹 멤버 관리</li></a>
</button>


<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
  <a href="{% url 'invite' pk %}"><li>유저 찾아서 초대하기</li></a>
</button>


<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
 <a href="{% url 'manage_requests' pk %}"><li>가입요청 처리</li></a>
</button>


{% endblock %}