{% extends "blog/trello.html" %}
{% block content %}
    <hr/>
    <hr/>
    <h2>초대 및 가입요청 관리</h2>
    <hr/>


    {% if userRequest %}
        <h2>{{ user_requests_count }}명의 유저가 가입을 요청했습니다</h2>
        {% for user in user_requests %}
            <div class="content-section" style="margin: 5% 2%;">
                <div class="media">
                    <img class="rounded-circle account-img" width="200px" src="{{ user.image.url }}">
                     <div class="media-body" style="display: inline-block; margin: 1% 0 0 6%">
                        <p class="account-heading">{{ user.user.username }}</p>
                        <div class="text-secondary">{{ user.nickname }}</div>
                        <div class="text-secondary">{{ user.user.email }}</div>
                         <div class="text-secondary">{{ user.phone_number }}</div>
                        <div class="text-secondary">{{ user.region }}</div>
                    </div>

                    <div class="buttons" style="margin: 70px 50px 0 0">
                        <form method="post" action="{% url 'user_request_accept' pk %}" style="display: inline-block;">
                            {% csrf_token %}
                            <input type="hidden" name="group_id" value="{{ pk }}">
                            <input type="hidden" name="user_p" value="{{ user.user.username }}">
                            <button type="submit" class="btn btn-outline-dark" style="font-size: 22px;"> 가입 승인 </button>
                        </form>
                        <form method="post" action="{% url 'user_request_refuse' pk %}" style="display: inline-block;">
                            {% csrf_token %}
                            <input type="hidden" name="group_id" value="{{ pk }}">
                            <input type="hidden" name="user_p" value="{{ user.user.username }}">
                            <button type="submit" class="btn btn-outline-dark" style="font-size: 22px;"> 차단 </button>
                        </form>
                        <form method="post" action="{% url 'group_request_delete' pk %}" style="display: inline-block;">
                            {% csrf_token %}
                            <input type="hidden" name="group_id" value="{{ pk }}">
                            <input type="hidden" name="user_p" value="{{ user.user.username }}">
                            <button type="submit" class="btn btn-outline-dark" style="font-size: 22px;"> 거절 </button>
                        </form>
                    </div>

                </div>
            </div>
        {% endfor %}

    {% else %}
        <h2>그룹이 받은 가입 승인 요청 없음</h2>
    {% endif %}

    <hr/>

    {% if groupRequest %}
        <h2>{{ group_requests_count }}명의 유저의 참여를 기다리고 있습니다.</h2>
        {% for user in group_requests %}
            <div class="content-section" style="margin: 5% 2%;">
                <div class="media">
                    <img class="rounded-circle account-img" width="200px" src="{{ user.image.url }}">
                     <div class="media-body" style="display: inline-block; margin-left: 6%">
                        <p class="account-heading">{{ user.user.username }}</p>
                        <div class="text-secondary">{{ user.nickname }}</div>
                        <div class="text-secondary">{{ user.phone_number }}</div>
                        <div class="text-secondary">{{ user.region }}</div>
                    </div>
                    <div style="margin: 70px 119px 0 0;">
                        <form method="post" action="{% url 'group_request_cancel' pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="group_id" value="{{ pk }}">
                            <input type="hidden" name="user_p" value="{{ user.user.username }}">
                            <button type="submit" class="btn btn-outline-dark" style="font-size: 22px;"> 가입요청 취소하기 </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <h2>그룹에서 보낸 가입 요청 없음</h2>
    {% endif %}


    <hr/>
    <hr/>
{% endblock content %}
