{% extends "blog/trello.html" %}
{% block content %}

    <style>
    @import url(http://weloveiconfonts.com/api/?family=fontawesome);
    /* fontawesome */
        [class*="fontawesome-"]:before {
            font-family: 'FontAwesome', sans-serif;
        }
    </style>

    <hr/>
    <h2>그룹장</h2>

    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ head.image.url }}">
            <div class="media-body">
                <p class="text-secondary">{{ head.username }}&nbsp;<span class="fontawesome-star star" style="color: red; font-size: 5px"></span></p>
                <div class="account-heading">{{ head.nickname }}</div>
                <p class="text-secondary">{{ head.region }}</p>
            </div>
        </div>
    </div>

    <hr/>
    <h2>그룹 매니저</h2>

    {% for profile in managers %}

         <br/>
        <div class="content-section">
            <div class="media">
                <img class="rounded-circle account-img" width="150px" src="{{ profile.image.url }}">
                <div class="media-body" style="display: inline-block; margin-left: 5%">
                    <p class="text-secondary">{{ profile.user.username }}</p>
                    <div class="account-heading">{{ profile.nickname }}</div>
                    <p class="text-secondary">{{ profile.region }}</p>
                </div>
                <div>
                    {% if request.user.username == head.username %}
                        <form method="post" action="{% url 'baton_touch' pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="group_id" value="{{ group.id }}">
                            <input type="hidden" name="user_p" value="{{ profile.user.username }}">
                        <button type="submit" class="btn btn-outline-dark" style="margin-right: 50px; font-size: 22px;">이 유저에게 그룹장 넘기기</button>
                        </form>
                        <form method="post" action="{% url 'byebye_manager' pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="group_id" value="{{ group.id }}">
                            <input type="hidden" name="user_p" value="{{ profile.user.username }}">
                         <button type="submit" class="btn btn-outline-dark" style="margin-right: 50px; font-size: 22px;">이 유저에게서 매니저 권한 취소</button>
                        </form>
                    {% else %}
                        <p>그룹장 입니다</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <hr/>
    <h2>그룹 멤버를 관리하세요!</h2>

    {% for profile in profiles %}

         <br/>
        <div class="content-section">
            <div class="media">

                {% if profile.image.url == None %}
                    프로필 이미지가 없습니다.
                {% else %}
                    <img class="rounded-circle account-img" width="150px" src="{{ profile.image.url }}">
                {% endif %}

                <div class="media-body" style="display: inline-block; margin-left: 5%">
                    <p class="text-secondary">{{ profile.user.username }}</p>
                    <div class="account-heading">{{ profile.nickname }}</div>
                    <p class="text-secondary">{{ profile.region }}</p>
                </div>
                <div>
                    <form method="post" action="{% url 'welcome_manager' pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="group_id" value="{{ group.id }}">
                        <input type="hidden" name="user_p" value="{{ profile.user.username }}">
                        <button type="submit" class="btn btn-outline-dark" style="margin-right: 50px; font-size: 22px;">이 유저에게 매니저 권한 부여</button>
                    </form>
                    <form method="post" action="{% url 'user_request_refuse' pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="group_id" value="{{ group.id }}">
                        <input type="hidden" name="user_p" value="{{ profile.user.username }}">
                        <button type="submit" class="btn btn-outline-dark" style="margin-right: 50px; font-size: 22px;">이 유저를 차단하기</button>
                    </form>
                    </form>
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock content %}