{% extends "blog/base.html" %}



{% block content %}
    <hr/>
    <hr/>


    {% if userRequest %}
        <h2>{{ user_requests_count }}명의 유저가 가입을 요청했습니다</h2>
        {% for user in user_requests %}
            <div class="content-section">
                <div class="media">
                    <img class="rounded-circle account-img" src="{{ user.image }}">]]]
                    <div class="media-body">
                        <div class="account-heading">{{ user.user.username }}</div>
                        <p class="text-secondary">{{ user.nickname }}</p>
                        <p class="text-secondary">{{ user.region }}</p>
                    </div>
                    <div>
                        <form method="post" action="{% url 'user_request_accept' pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="group_id" value="{{ pk }}">
                            <input type="hidden" name="user_p" value="{{ user.user.username }}">
                            <button type="submit">가입 승인하기</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <h2>그룹이 받은 가입 승인 요청 없음</h2>
    {% endif %}

    <hr/>

    {% if groupRequest %}
        <h2>{{ group_requests_count }}명의 유저의 참여를 기다리고 있습니다.</h2>
        {% for user in group_requests %}
            <div class="content-section">
                <div class="media">
                    <img class="rounded-circle account-img" src="{{ user.image }}">]]]
                    <div class="media-body">
                        <div class="account-heading">{{ user.user.username }}</div>
                        <p class="text-secondary">{{ user.nickname }}</p>
                        <p class="text-secondary">{{ user.region }}</p>
                    </div>
                    <div>
                        <form method="post" action="{% url 'group_request_cancel' pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="group_id" value="{{ pk }}">
                            <input type="hidden" name="user_p" value="{{ user.user.username }}">
                            <button type="submit">가입요청 취소하기</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <h2>그룹에서 보낸 가입 요청 없음</h2>
    {% endif %}


    <hr/>
    <hr/>
{% endblock content %}





